<%= form_tag sessions_path, :class => "login" do %>  
<p>  
  <%= label_tag :name %><br />  
  <%= text_field_tag :name, params[:name] %>
</p>  
<p>  
  <%= label_tag :pin %><br />  
  <%= password_field_tag :pin %>  
</p>  
<p>
  <%= submit_tag "Login", :class => "large awesome"%> 
  <%= link_to "Hint", '#', :id => "hint_link" %>
</p> 
<% end %>

<!-- inserted here for demo purposes -->
<%= render :partial => "/sessions/user_hints"%>
